# Игнорировать папку .idea и файлы конфигурации IntelliJ IDEA
.idea/
*.iml

# Игнорировать скомпилированные файлы
out/
target/
build/

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать системные файлы
.DS_Store

# Игнорировать зависимости (если используете Maven/Gradle)
**/lib/
**/libs/

# Игнорировать файлы, специфичные для операционной системы
*.swp
*.swo